{% extends "base.html" %}

{% block title %}
Product Analyzer | Product Detail
{% endblock %}

{% block content %}

<section class="productdetail-hero-section flex items-center justify-center text-center text-white relative">
    <h1 class="text-6xl font-bold text-white uppercase">
        {{ c_name| title }}
        <span class="productdetail-hero-title-span">Details</span>
    </h1>
</section>

<div class="flex flex-col items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg m-[3rem] mb-[2rem] w-[90%]">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/3 flex flex-row items-top justify-center">
                <img alt="{{ product_data.product_name }}" class="rounded-lg h-[300px]"
                    src="{{ product_data.product_image_url.0 }}" width="300" />
            </div>
            <div class="md:w-2/3 mt-4 md:mt-0"
                style="display: flex; flex-direction: column; justify-content: top; align-items: left; margin: 20px;">
                <h1 class="text-3xl font-bold text-gray-800">
                    {{ product_data.product_name }}
                </h1>
                <div class="mt-4 flex flex-row align-center">
                    <div class="mt-4 p-4 bg-gray-100 rounded-lg">
                        <span class="text-xl font-bold text-gray-800">Price: </span>
                        <span class="text-2xl font-bold text-gray-800">
                            {{ product_data.currency }} {{ last_price }}
                        </span>
                    </div>
                    <div class="mt-4 p-4 ml-5 flex flex-row align-center bg-gray-100 rounded-lg">
                        <span class="text-xl font-bold text-gray-800">Ratings: </span>
                        <span class="text-2xl font-bold text-gray-800 mt-[-2] ml-2">
                            {{ product_data.product_ratings }}
                        </span>
                        <i class="fa fa-star text-warning ml-1 text-xl text-black"></i>
                    </div>
                </div>
                <div class=" space-x-4 flex flex-row " style="margin: 25px 0;">
                    <a href="{% url 'product-comparison-page' category.category_id product_data.product_id %}"
                        class="bg-gradient-to-r from-blue-400 to-blue-600 text-white px-8 py-3 rounded-full shadow-lg hover:from-blue-500 hover:to-blue-700 transform hover:scale-105 transition-transform duration-300 btn btn-primary"
                        style="border: none;">
                        <i class="fas fa-exchange-alt mr-2">
                        </i>
                        Compare
                    </a>
                    {% if request.session.user_id %}
                    <a href="#" id="priceAlertButton" data-bs-toggle="modal" data-bs-target="#priceAlertModal"
                        data-product-id="{{ product_data.product_id }}"
                        data-product-name="{{ product_data.product_name }}" data-product-price="{{ last_price }}"
                        class="bg-gradient-to-r from-yellow-400 to-yellow-600 text-white px-8 py-3 rounded-full shadow-lg hover:from-yellow-500 hover:to-yellow-700 transform hover:scale-105 transition-transform duration-300 btn btn-primary"
                        style="border: none;">
                        <i class="fa-solid fa-bell mr-2">
                        </i>
                        Price Alert
                    </a>
                    <div class="modal fade" id="priceAlertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Set Price Alert</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="currentPrice">Current Price</label>
                                        <input type="text" class="form-control" id="currentPrice" name="current_price" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="desiredPrice" class="form-label">Desired Price</label>
                                        <input type="number" step="0.01" class="form-control" id="desiredPrice" name="desiredPrice" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Create Alert</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    <a
                        class="bg-gradient-to-r from-green-400 to-green-600 text-white px-8 py-3 rounded-full shadow-lg hover:from-green-500 hover:to-green-700 transform hover:scale-105 transition-transform duration-300">
                        <i class="fas fa-share-alt mr-2">
                        </i>
                        Share
                    </a>
                    <a href="{{ product_data.product_url }}" target="_blank"
                        class="bg-gradient-to-r from-red-400 to-red-600 text-white px-8 py-3 rounded-full shadow-lg hover:from-red-500 hover:to-red-700 transform hover:scale-105 transition-transform duration-300">
                        <i class="fas fa-shopping-cart mr-2">
                        </i>
                        Buy
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg mt-8 flex flex-col w-[90%] items-top justify-evenly flexwrap">
        <div class="w-100" style="width: 100%; height: 40%;">
            <h2 class="text-2xl font-bold text-gray-800">
                Price History
            </h2>
        </div>
        <canvas id="priceHistoryChart" class="rounded-lg mt-[10px]" height="150" width="400"></canvas>
        <!-- <div>
            <h2 class="text-2xl font-bold text-gray-800">
                Overall Performance
            </h2>
            <canvas id="radarChart" class="mt-[10px]" width="400" height="400"></canvas>
        </div>
        <div>
            <h2 class="text-2xl font-bold text-gray-800">
                Ratings
            </h2>
            <canvas id="ratings-piechart" class="mt-[10px]"></canvas>

        </div> -->
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg m-[2rem] mb-[4rem] w-[90%]">
        <h2 class="text-2xl font-bold text-gray-800">
            Specifications
        </h2>
        {% for category, details in product_data.product_details.items %}
        <!-- {{ category }} {{details}} -->
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-4 pl-6">
            {% if details.items %}
            <div>
                <h3 class="text-xl font-semibold" style="font-weight: 700; display: inline-block;">
                    {{ category }}
                </h3>
                <ul class="mt-2 text-gray-600" style="margin: 10px 20px;">
                    {% for key, value in details.items %}
                    <li style="font-weight: 500; padding: 5px 0; list-style: disc;">
                        <span style="font-weight: 700; color: rgb(60, 59, 59);">{{ key }}</span>: {{ value }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <ul class="mt-2 text-gray-600">
                <li style="font-weight: 500; padding: 0; list-style: disc;">
                    <span style="font-weight: 700; color: rgb(60, 59, 59);">{{ category }}</span>: {{ details }}
                </li>
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% if success_message %}
<div id="message-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    <div class="alert
                {% if 'success' in message.tags %}alert-success
                {% elif 'error' in message.tags %}alert-danger
                {% elif 'warning' in message.tags %}alert-warning
                {% elif 'info' in message.tags %}alert-info
                {% else %}alert-secondary{% endif %} 
                alert-dismissible fade show " role="alert">
        {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

{% block scripts %}

<script>
    function priceHistoryGraph() {
        const priceHistoryCtx = document.getElementById('priceHistoryChart').getContext('2d');
        const priceHistoryChart = new Chart(priceHistoryCtx, {
            type: 'line',
            data: {
                labels: [{% for label in chartLabels %}'{{label}}', {% endfor %}],
    datasets: [{
        label: 'Price',
        data: [{% for value in chartValues %}{{ value }}, {% endfor %}],
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                }]
            },
    options: {
        responsive: true,
            scales: {
            y: {
                beginAtZero: false
            }
        }
    }
        });
    }
    
    document.addEventListener("DOMContentLoaded", function () {
        priceHistoryGraph();
    }) 
        
    document.addEventListener('DOMContentLoaded', function () {
    var priceAlertButton = document.getElementById('priceAlertButton');
    var priceAlertModal = document.getElementById('priceAlertModal');
    
    priceAlertButton.addEventListener('click', function (event) {
        var productName = priceAlertButton.getAttribute('data-product-name'); // Extract product name
        var productId = priceAlertButton.getAttribute('data-product-id'); // Extract product ID
        var productPrice = priceAlertButton.getAttribute('data-product-price'); // Extract product price

        // Set the modal content
        var modalTitle = priceAlertModal.querySelector('.modal-title');
        var currentPriceInput = priceAlertModal.querySelector('#currentPrice');
        var productIdInput = priceAlertModal.querySelector('#productId'); // This input might be hidden

        // modalTitle.textContent = 'Set Price Alert for ' + productName; // Set the title dynamically
        currentPriceInput.value = productPrice; // Set current price in modal input
        productIdInput.value = productId; // Set product ID in hidden input
    });
});

</script>

{% endblock scripts %}

{% endblock %}