{% load static %}

<html>

<head>
  <title>
    Product Analyzer - SignUp
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
  <style>
    body {
      background: radial-gradient(ellipse 120% 210% at 95% 0, #531889 10%, #000 70%);
    }
  </style>
</head>

<body class="flex items-center justify-center min-h-screen">
  <div class="body-container flex rounded-lg shadow-2xl overflow-hidden">
    <div class="signup-top-container hidden md:flex items-center justify-center p-8 pb-0">
      <h2 class="text-4xl font-bold text-white text-center">
        Sign Up
      </h2>
    </div>
    <div class="form-div p-8">
      <form method="post" >
        {% csrf_token  %}
        <div class="mb-3">
          <label class="block text-gray-300 font-medium ml-2 mb-1" for="fullname">
            Full Name
          </label>
          <input class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-white" name="fullname" placeholder="Enter your name" type="text"  />
        </div>
        <div class="mb-3">
          <label class="block text-gray-300 font-medium ml-2 mb-1" for="email">
            Email
          </label>
          <input class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-white" name="email" placeholder="Enter your email" type="email"  />
        </div>
        <div class="mb-4">
          <label class="block text-gray-300 font-medium ml-2 mb-1" for="password">
            Password
          </label>
          <input class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-white" name="password" placeholder="Enter your password"
            type="password" />
        </div>
        <div class="mb-4">
          <label class="block text-gray-300 font-medium ml-2 mb-1" for="confirm-password">
            Confirm Password
          </label>
          <input class="w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-white" name="confirm-password" placeholder="Retype your password"
            type="password" />
        </div>
        <div class="signup-btn-container">
          <button
            class="text-white py-2 hover:bg-[#531889] focus:outline-none focus:ring-2 focus:ring-white flex items-center justify-center"
            type="submit">
            Register
          </button>
          <div class="flex items-center justify-center ">
            <span class="text-gray-300">or</span>
          </div>
          <button
            class="text-white py-2 hover:bg-[#531889] focus:outline-none focus:ring-2 focus:ring-white flex items-center justify-center"
            type="button">
            <i class="fab fa-google mr-2"></i> Sign Up using Google
          </button>
        </div>
      </form>

      <div class="w-[91%] flex flex-row items-center justify-between mt-5">
        <p class="text-center text-gray-300 ">
          Already have an account?
          <a class="text-white hover:underline" href="/signin">
            Sign In
          </a>
        </p>
        <p class="text-center text-gray-600">
          <a class="text-white hover:underline" href="/">
            Go to Home
          </a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>